@tailwind base;
@tailwind components;
@tailwind utilities;
/* In your global CSS or Tailwind config */

/* In your global CSS or Tailwind config */
.clip-about {

  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);

}
details[open] summary + * {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
